.header {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    & .leftHighTitle {
        display: inline-block;
        margin-top: 25px;
        position: absolute;
        top: 0;
        left: 0;

        
        & span {
            font-weight: $bold;
            font-size: 200px;
            line-height: 78%;
            text-transform: uppercase;
            opacity: 0.07;
        }
    }

}

.header_logo {
    display: inline-flex;
    align-items: center;
    font-weight: $bold;
    font-size: 60px;
    line-height: 143%;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    top: 40px;
    left: -60px;

    & .surf {
        background-color: #4AF6CD;
        padding: 40px 22px;
        margin-left: 22px; 
        position: relative;
        
        &:before {
        content: " ";
        display: block;
        width: 20px;
        height: 1px;
        background-color: $white;
        position: absolute;
        top:80px;
        left:-10px;
        }
    }
}

.cross_arow {
    display: inline-block;
    position: absolute;
    left: 200px;
    bottom: 30px;
    -webkit-animation-name: animateArrow;
            animation-name: animateArrow;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes animateArrow {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes animateArrow {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  .arows_top {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 70px;
  }
  
   

