.info_beach {
    display: none;
    width: 280px;
    height: 215px;
    background: #0F1010;
    opacity: 0.7;
    border-radius: 6px;
    position: absolute;
    top: -230px;
    left: -40px;
    z-index: 1000;
    padding: 25px;

    & h5 {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        z-index: 2000;
        opacity: 1;

        &::after {
            content: '';
            display: block;
            margin-top: 10px;
            width: 80px;
            height: 1px;
            background-color: #4AF6CD;
        }
    }

    & p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 19px;
    }

    & .inform {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        & .inform_item {
            width: 48px;
            text-align: center;
            

            & span {
                font-weight: 800;
                font-size: 16px;
                line-height: 23px;
            }

            & p {
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                margin-top: 0px;
            }
        }
    }
}
 