.surf_block {
    width: 100%;
    position: relative;

    & .map_block {

        position: relative;

        & .img_map {    
            max-width: 1200px;
            height: 635px;
            background: url(../images/World_Map.svg) left no-repeat;
            background-size: cover;
            position: relative;
        }

        & .coords {
            display: block;
            position: absolute;
            right: -170px;
            bottom: 50%;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            text-transform: uppercase;
            transform: rotate(-90deg);
            opacity: 0.5;
        }

        & .surf_dots {
            display: inline-block;
            width: 25px;
            height: 34px;   
            position: relative;
             

            & .svg_dot {
                filter: drop-shadow( 0px 0px 10px #4AF6CD );
                cursor: pointer;  
            }
            
            & .noActive_dot {
                display: none;
            }
        }

        & .img_map {    

            & .dot_1 {
                position: absolute;
                top: 330px;
                left: -10px;
            }
    
            & .dot_2 {
                position: absolute;
                top: 285px;
                left: 130px;
            }

            & .cur_local {
                position: absolute;
                top: 270px;
                left: 155px;
                

                & .local_text{
                    display: none;
                    width: 150px;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 12px;
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    transition: all 0.8s;
                }

                &:hover .local_text{
                    display: block;
                    opacity: 0.5;
                }
            }
    
            & .dot_3 {
                position: absolute;
                top: 320px;
                left: 335px;
            }
    
            & .dot_4 {
                position: absolute;
                bottom: 110px;
                left: 400px;
            }
    
            & .dot_5 {
                position: absolute;
                top: 215px;
                left: 530px;
            }
    
            & .dot_6 {
                position: absolute;
                bottom: 55px;
                left: 625px;
            }
    
            & .dot_7 {
                position: absolute;
                bottom: 230px;
                right: 370px;
            }
    
            & .dot_8 {
                position: absolute;
                bottom: 110px;
                right: 80px;
            }
        }
    }
}