/*font-family: 'Kaushan Script', cursive;*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*HEADER*/

.header {
  width: 100%;
  height: 100vh;
  background: url(../images/pic_01.jpg) no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  color: #ffffff;
}

.logo span {
  font-weight: 700;

  font-size: 30px;
}

.nav a {
  display: inline-block;
  margin-left: 50px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.nav a.link:hover {
  color: #ffcc99;
  border-bottom: 3px solid #ffcc99;
  transition: all 0.1s linear;
}

.nav a.img:hover {
  transform: scale(1.5);
}

.nav .active {
  color: #ffcc99;
  border-bottom: 3px solid #ffcc99;
}

.greeting {
  text-align: center;
  color: #ffffff;
  max-width: 830px;
  margin: 110px auto 80px;
}

.greeting h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
}

.greeting h1 {
  margin-top: 30px;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1.15;
}

.greeting h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 50px auto;
}

.greeting a {
  display: inline-block;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  padding: 12px 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.slide-mogo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-items {
  display: inline-block;
  width: 24%;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  padding-top: 18px;
  border-top: 3px solid #ffffff;
  position: relative;
  opacity: 0.7;
}

.slider-items.active {
  opacity: 1;
}

.slide-mogo b {
  font-size: 28px;
  font-weight: 700;
}

.slider-items.active:before {
  content: "";
  display: block;
  width: 70px;
  background-color: #ff9999;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
}

/*about Us*/

.rubric {
  max-width: 980px;
  text-align: center;
  color: #333333;
  margin: 90px auto 0;
}

.rubric h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

.rubric h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.rubric h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff9999;
  margin: 50px auto;
}

.rubric p {
  font-size: 15px;
  color: #999999;
  font-weight: 400;
}

.imgTeam {
  margin-top: 100px;
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;
}

.imgContain {
  background-color: #99cccc;
  position: relative;
}

.imgContain:hover .img-item {
  transform: translate3d(-10px, -10px, 0);
}

.imgContain:hover .img-item img {
  opacity: 0.1;
}

.img-item {
  background: linear-gradient(to bottom, #ffcc99, #cc6666);
  transition: transform 0.2s linear;
}

.imgTeam img {
  display: block;
  transition: opacity 0.1s linear;
}

.text_users,
.social_link {
  position: absolute;
  top: 37%;
  left: 32%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.text_users img {
  margin: 0 auto;
}

.imgContain:hover .text_users {
  opacity: 1;
}

.statLine {
  width: 100%;
  height: 270px;
  background-color: #99cccc;
  text-align: center;
}

.progress {
  display: flex;
}

.counterProgress {
  flex: 1 1 0;
  padding-top: 50px;
  height: 270px;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  border-right: 1px solid #ccffcc;
}

.counterProgress:first-child {
  border-left: 1px solid #ccffcc;
}

.counterProgress p {
  font-size: 14px;
  text-transform: uppercase;
}

/*work-services*/

.line_services {
  display: flex;
  justify-content: space-between;
}

.services .top {
  padding: 10px 25px 50px;
  border-bottom: 1px solid #cccccc;
}

.services .bottom {
  padding: 50px 25px 0;
}

.services h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
}

.services p {
  font-size: 14px;
  color: #999999;
}

.img-photo {
  margin-right: 20px;
  padding-top: 10px;
}

.services-item {
  display: flex;
  justify-content: space-between;
}

/*class devices*/

.devices {
  width: 100%;
  height: 850px;
  background: url(../images/Layer45.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.devices h4 {
  padding-top: 90px;
}

.tab,
.phone {
  display: inline-block;
}

.tab {
  height: 620px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.phone {
  height: 476px;
  position: absolute;
  bottom: -50px;
  left: 60%;
  transform: translate3d(-25%, 40px, 0);
}

/*clas do*/

.do_content {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.akkordion {
  margin-left: 30px;
  width: 50%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.akkord-item {
  border: 1px solid #e5e5e5;
}

.akkord-item .akkord-text {
  /*height: 180px;*/
  display: none;
  padding: 20px;
  font-size: 15px;
  color: #999999;
  font-weight: 400;
}

.akkord-item .akkord-header {
  border-bottom: none;
  height: 60px;
  position: relative;
}

.akkord-header img {
  margin: 15px;
}

.akkord-header span {
  position: absolute;
  top: 30%;
}

.akkord-item .akkord-header:after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 35%;
  height: 15px;
  width: 15px;
  border: 2px solid #e5e5e5;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
}

.akkord-item.active .akkord-header {
  border-bottom: 1px solid #e5e5e5;
}

.akkord-item.active .akkord-header:after {
  transform: rotate(-135deg);
}

.akkord-item.active .akkord-text {
  display: block;
}

/*slider*/

.slider_quote {
  margin-top: 120px;
}

.slider {
  height: 150px;
  font-size: 15px;
  color: #999999;
  font-weight: 400;
  padding: 0 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider-item {
  height: 150px;
  margin: 0 70px;
  display: flex;
}

.quote {
  margin-left: 60px;
}

.slider-item blockquote p {
  font-size: 24px;
  font-weight: 300;
  color: rgb(156, 154, 154);
}

.slider-item p {
  font-size: 24px;
  font-weight: 700;
  color: 333333;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  padding: 20px 16px;
  color: rgb(129, 127, 127);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
}

.slider .next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.slider .prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

/*class teem*/

.teem .imgTeam {
  margin-bottom: 25px;
}

.social_link {
  display: block;
}

.social_link img {
  margin: 0 auto;
}

.name_person {
  display: flex;
  justify-content: space-between;
}

.name_person span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.name_person p {
  color: #b3b3b3;
  font-size: 15px;
}

.name-item {
  width: 380px;
  text-align: center;
}

.teemLineBottom {
  margin-top: 110px;
  padding-top: 61px;
  height: 250px;
  background-color: #f8f8f8;
  vertical-align: -50%;
}

.imgContain:hover .social_link {
  opacity: 1;
}

.social_link a {
  width: 55px;
  height: 55px;
  background-color: #fce38a;
  color: #f38181;
  padding-top: 15px;
}

.social_link {
  display: flex;
  position: absolute;
  left: 18%;
  top: 40%;
}

.social_link i {
}

.social_link a:hover {
  color: #f8f8f8;
  background-color: #f38181;
}

/*work*/

.foto {
  display: flex;
  margin-top: 100px;
}

.foto_col {
  flex: 1 1 0;
}

.work-img {
  display: flex;
}

.work-img {
  position: relative;
}

.work-img:hover .imgI {
  opacity: 0.1;
}

.work-img {
  background: linear-gradient(to bottom, #ffcc99, #cc6666);
  transition: transform 0.2s linear;
}

.cont-work-img {
  position: absolute;
  color: white;
  opacity: 0;
  top: 50%;
  left: 3rem;
  text-align: center;
}

.work-img:hover .cont-work-img {
  opacity: 1;
}

.cont-work-img p {
  font-weight: 700;
  opacity: 0.7;
}

.cont-work-img p:last-child {
  opacity: 0.5;
  font-weight: 300;
}

/*work slider*/

.testimonial {
  height: 440px;
  padding-top: 100px;
}

.testimonial .slider {
  background-color: rgb(194, 189, 189);
  height: 210px;
  padding: 0 24px;
  justify-content: flex-start;
}

.testimonial .slider img {
  border-radius: 50%;
  margin-right: 30px;
}

.slider .quote {
  width: 65%;
  text-align: start;
}

/*clients*/

.clients {
  width: 100%;
  height: 830px;
  background: url(../images/Layer45.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 110px;
}

.clients .rubric {
  margin-top: 0;
}

.people {
  width: 100%;
  height: 400px;
  display: flex;
}

.people-col {
  flex: 1 1 0;
}

.people-item {
  height: 50%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.people-item img {
  height: 110px;
  border-radius: 50%;
}

.clients-quet {
  margin-left: 30px;
}

.clients-autor::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff9999;
  margin: 20px 0;
}

.clients-autor p {
  font-family: "Kaushan Script", cursive;
  font-size: 15px;
  color: #646464;
}

.clients-autor span {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.clients-quet p {
  color: #646464;
}

/*latest*/

.latest .blog {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  width: 31.6%;
  position: relative;
}

.blog-item .dateBlog {
  width: 16%;
  height: 18%;
  background-color: #95e1d3;
  padding-top: 5px;
  padding-left: 13px;
  position: absolute;
  top: 40%;
  left: -12px;
}

.blog-item .dateBlog span {
  color: white;
  font-size: 30px;
  font-weight: 700;
  opacity: 1;
}

.blog-item .dateBlog p {
  color: white;
  font-size: 18px;
  opacity: 0.7;
  line-height: 0.5;
}

.blog-item p,
.blog-item span {
  color: #646464;
  line-height: 1.4;
  opacity: 0.7;
}

.blog-item h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2.5;
}

.stat-user span {
  margin-right: 15px;
}

.stat-user .last {
  vertical-align: middle;
  display: inline-block;
}

/*map*/

.map {
  height: 200px;
  margin: 110px 0 80px;
  background: url(../images/L59.jpg) no-repeat;
  background-size: cover;

  padding-top: 50px;
}

.map a p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #f38181;
}

.map a {
  text-decoration: none;
}

.openMap {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.openMap::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff9999;
  margin: 20px auto;
}

/*footer*/
.end {
  display: flex;
}

.end h3 {
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;
  margin-bottom: 30px;
}

.footer-mogo p {
  opacity: 0.7;
}

.footer-mogo b {
  font-size: 18px;
  font-weight: 700;
}

.follower {
  margin-top: 40px;
}

.mogo-social {
  margin-bottom: 27px;
}

.mogo-social span {
  margin-right: 25px;
  margin-bottom: 13px;
}

.mogo-social img {
  margin-right: 15px;
}

form {
  display: flex;
}

.footer-mogo {
  width: 40%;
  margin-right: 30px;
}

.footer-mogo input {
  width: 60%;
  padding: 11px;
  border: 1px solid #cccccc;
  font-size: 18px;
  opacity: 0.7;
  outline: none;
  background-color: #fff;
}

.footer-mogo input::placeholder {
  font-size: 14px;
}

.footer-mogo button {
  width: 40%;
  padding: 11px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #99cccc;
  color: white;
  font-weight: 700;
  outline: none;
  border: 0;
}

.blogs {
  width: 29%;
  margin-top: 20px;
  margin-right: 60px;
}

.end h5 {
  font-weight: 700;
  margin-bottom: 50px;
}

.blogs-item {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 30px;
}

.blogs-text {
  padding-left: 20px;
  padding-top: 10px;
}

.blogs-text span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.blogs-text p {
  opacity: 0.7;
  font-size: 13px;
}

.instagram {
  width: 23%;
  margin-top: 20px;
}

.insta-foto {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.insta-foto img {
  margin: 0 3px 3px 0;
}

.instagram p {
  opacity: 0.7;
}

.qwer {
  background: linear-gradient(to bottom, #ffcc99, #cc6666);
  transition: transform 0.2s linear;
}

.qwer:hover img {
  opacity: 0.7;
}
